/* File     style.css */
/* Author   dava1000  */

/***************************************************************************
 * Fonts and icons
 */

@font-face {
    font-family: "fontello";
    src: url("/font/fontello.eot");
    src: url("/font/fontello.eot?#iefix") format("embedded-opentype"),
        url("/font/fontello.woff") format("woff"),
        url("/font/fontello.woff2") format("woff2"),
        url("/font/fontello.ttf") format("truetype"),
        url("/font/fontello.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

.font-icon {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin: 0.2em;
    padding: 0.1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    border: none;
    background-color: transparent;
}

/***************************************************************************
 * Colors
 */

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.violet {
    color: #551a8b;
}

.bold {
    font-style: bold;
}

/***************************************************************************
 * General
 */

html {
    background-color: #eef0f1;
}

a,
input,
button,
label,
textarea {
    font-family: inherit;
    font-size: medium;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 900px;
    min-height: 100vh;
}

header {
    align-items: center;
    background-color: white;
    display: flex;
    padding: 1em;
    margin: 0 0 1em 0;
}

header fieldset {
    border: none;
}

nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 0;
}

main {
    margin: 1em 0 1em 0;
}

footer {
    border-top: 6px solid darkgray;
    font-size: small;
    margin-top: auto;
    text-align: center;
    width: 100%;
}

footer section {
    background-color: #d2d6db;
    margin: 0.5em auto auto auto;
    padding: 1em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

input {
    display: block;
    margin: 0.5em;
    padding: 0.2em;
}

textarea {
    display: block;
    margin: 0.5em;
    padding: 0.2em;
}

a {
    text-decoration: none;
    padding: 0.5em;
    margin: 0.2em;
}

button {
    display: inline-block;
    padding: 0.2em;
    margin: 0.2em;
}

section {
    border: 1px solid gray;
    padding: 1em;
    margin: 1em 0;
}

.post form {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.post fieldset {
    border: none;
    margin: 0 0.1em 0 0;
    padding: 0.1em;
}

table {
    background-color: white;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .form-1col fieldset {
        width: 90%;
    }

    header {
        flex-direction: column;
        justify-content: start;
    }

    nav {
        margin: 0;
    }
}

@media screen and (min-width: 600px) {
    .form-1col fieldset {
        width: 50%;
    }

    header {
        flex-direction: row;
        justify-content: center;
    }

    nav {
        margin: 0 0 0 auto;
    }
}
